<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p><a routerLink="/datepicker">DatePicker</a></p>
    <p><a routerLink="/transport-modes-one">Transport One</a></p>
    <p><a routerLink="/transport-modes-two">Transport Two</a></p>
  </div>
</ion-content>
